.App {
  text-align: center;
}
a {
  font-size: 24px;
  color: #ffff;
  cursor: pointer;
  padding: 8px;
}
a:hover {
  text-decoration: underline;
}
/* .buttonClass {
  width: 200px;
  height: 50px;
  background-color: "#9B0000";
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.buttonClass:hover {
  background-color: "#0000";
} */
